body {
    font-family: 'Inter', sans-serif;
}

.top-banner {
    /* width: 50%; */
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 65px;
    line-height: 78.66px;
}

/* 
.top-banner-id {
    backgrou url(../images/ );
} */