h1 {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    /* width: 50%; */
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 65px;
    line-height: 78.66px;
}

.btn {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    background-color: tomato;
    color: white;
    border: none;
    padding: 16px 12px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* 
.top-banner-id {
    backgrou url(../images/ );
} */