body {
  margin: 0;
  padding: 0;
}

#top-banner-id {
  background-image: linear-gradient(
      360deg,
      rgb(6 6 6 / 91%),
      rgb(191 179 179 / 32%)
    ),
    url(../images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
}

.top-banner {
  text-align: center;
}

.section-paragraph {
  width: 50%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: dimgray;
  line-height: 1.5;
}

h1 {
  font-family: "Inter", sans-serif;
  color: white;
  margin-top: 180px;
  background-color: #76767612;
  display: inline-block;
  border-radius: 5px;
}

.top-banner p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  color: white;
}

h1 {
  font-size: 65px;
  line-height: 78.66px;
}

.btn {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  background-color: tomato;
  color: white;
  padding: 16px 16px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.donate {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

/* .donate h2 { */
h2 {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  margin-top: 93px;
}
.donate p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: dimgray;
  line-height: 1.5;
}
.donate-option {
  padding: 20px;
}
.donate-option ul {
  /* margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; */
  display: flex;
  justify-content: center;
  font-weight: 400px;
  /* flex-wrap: wrap; */
}
.donate-option li {
  list-style-type: none;
  font-size: 35px;
  color: dimgray;
  padding: 40px;
  font-weight: 600;
}

.donate-option-highlight {
  border: 2px solid tomato;
  border-radius: 5px;
  margin: 10px;
  background: #f7f7f7;
  padding: 35px 22px;
  margin-top: -2px;
  /* color: tomato; */
}

.donate-custom {
  text-align: center;
}

#donate-input {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbb7b7;
  font-size: large;
  padding: 10px;
  display: block;
  margin-bottom: 50px;
}

.donate-btn {
  text-align: center;
}

#donate-plan {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.donate-plan-three-div {
  display: flex;
}
.donate-plan-div {
  /* border: 1px solid red; */
  border-radius: 5px;
  text-align: left;
  padding: 30px;
  margin: 50px;
}
.first-donate-plan {
  background-color: #edf5f6;
}
.second-donate-plan {
  background-color: #ffeeee;
}
.third-donate-plan {
  background-color: #fff4d6;
}

.donate-plan-three-div h3 {
  font-size: 25px;
}

.donate-plan-div p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: dimgray;
  line-height: 1.5;
}

#update,
#blogs {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#update p,
#blogs p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: dimgray;
  line-height: 1.5;
}
/* #update input {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  background-color: tomato;
  color: white;
  padding: 16px 16px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
} */
.update-email {
  display: flex;
  justify-content: center;
  height: 53px;
  /* background-color: #fff4d6; */
}
.update-email input {
  border: none;
  background-color: #e9e1e1;
  width: 232px;
  padding: 20px;
  font-size: 17px;
  border-radius: 5px 0 0 5px;
}
.submit-btn {
  background-color: tomato;
  color: white;
  padding: 16px 50px;
  border-radius: 0 5px 5px 0;
  font-size: 18px;
  text-decoration: none;
}
.form-things {
  background-color: #fff4d6;
  /* background-color: red; */
  padding: 110px 140px;
  border-radius: 5px;
  padding-bottom: 167px;
  margin: 0 180px;
}
#footer {
  background-color: #0b0d17;
  color: white;
  text-align: center;
  padding: 40px;
  font-size: 20px;
}
#footer h3 {
  color: tomato;
  font-size: 30px;
}
